h2 {
    color: red;
}

body {
  background-color: #3F4A83;
}
.wrap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
button {
  position: relative;
  padding: 20px 40px;
  border: none;
  font-size: 21px;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color:#ff4f12;
  color: #D6D6D6;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
button:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 3px;
  width: 0;
  background-color: #fff;
  transition: all 0.25s ease-in-out;
}
button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #fff;
  transition: all 0.25s ease-in-out;
}
button:hover {
  color: #fff;
}
button:hover::before, button:hover::after {
  width: 100%;
}